.sticky {
  position: sticky;
  top: 0;
  padding: 2px;
  color: #000000;
  z-index: 988;
}

.sticky__sentinel_top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: flex; align-items: center; justify-content: center;
  visibility: hidden;
}

