.sticky {
  border-bottom: 1px solid var(--color-neutral-gray);
  color: var(--color-text-black);
  margin: auto;
  max-width: 1366px;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 988;
}

.sticky__sentinel_top {
  align-items: center; 
  display: flex; 
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: -1;
}

